{% extends 'base_accounts.html' %}

{% block content %}

<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-login">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12">
                    <h2 style="text-align: center;">Logged out</h2>
                </div>
            </div>
            <p class="bg-success" style="padding: 25px;text-align: center;margin-top: 5px;">
                You have been successfully logged out.
                You can
                <a href="{% url 'accounts:account_login' %}">
                    log-in again
                </a>.
            </p>
        </div>
    </div>
</div>

{% endblock %}